@charset "UTF-8";
@font-face {
  font-family: FuturaDemi;
  src: url(../font/FuturaPTDemi.otf);
}

/*==========================================
  Common
==========================================*/
/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.pc {
  display: none !important;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:active {
  color: #000;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: transparent;
  width: 100%;
  transition: .3s ease-in-out;
}

header.scroll {
  background-color: #fff;
  padding-bottom: 10px;
}

header.active .header_inner.row {
  justify-content: flex-end;
}

header.active .header_inner.row .right {
  position: fixed;
  z-index: 1005;
  top: 22.5px;
  left: 15px;
}

header.active .header_inner.row .left .txt_cont {
  margin-right: 57px;
}

header.active .header_inner.row .left .menu {
  position: fixed;
  z-index: 1005;
  top: 22.5px;
  right: 15px;
}

header.active .header_inner.row .left .menu svg .cls-1 {
  stroke: #fff;
}

header.active .header_inner.row .left .menu svg .cls-1-1 {
  stroke: #fff;
}

header .header_inner {
  padding: 22.5px 15px 0;
}

header .header_inner.row {
  justify-content: space-between;
}

header .header_inner.row .right {
  float: unset;
  width: 85px;
}

@media only screen and (max-width: 375px) {
  header .header_inner.row .right {
    width: 15%;
  }
}

header .header_inner.row .left {
  float: unset;
  display: flex;
  justify-content: flex-end;
}

header .header_inner.row .left .txt_cont {
  margin-right: 20px;
}

@media only screen and (max-width: 375px) {
  header .header_inner.row .left .txt_cont {
    margin-right: 10px;
  }
}

header .header_inner.row .left .txt_cont p {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000;
  letter-spacing: 0;
  line-height: 15px;
}

header .header_inner.row .left .txt_cont p:nth-of-type(1) {
  font-size: 16px;
}

header .header_inner.row .left .txt_cont p:nth-of-type(1) span {
  font-size: 10px;
}

header .header_inner.row .left .txt_cont p:nth-of-type(1) span:nth-of-type(3) {
  background-color: #000000;
  color: #fff;
  padding: 0 20px 0 2px;
  position: relative;
  top: -2px;
}

@media only screen and (max-width: 375px) {
  header .header_inner.row .left .txt_cont p:nth-of-type(1) span:nth-of-type(3) {
    padding: 0 5px 0 2px;
  }
}

header .header_inner.row .left .txt_cont p:nth-of-type(2) {
  font-size: 14px;
}

header .header_inner.row .left .menu {
  cursor: pointer;
}

header .header_inner.row .left .menu:hover span svg {
  animation: unset;
}

header .header_inner.row .left .menu:hover span svg .cls-1 {
  animation: unset;
  stroke-dashoffset: 0;
  stroke-dasharray: 560;
}

header .header_inner.row .left .menu:hover span svg .cls-1-1 {
  animation: unset;
  opacity: 0;
  stroke-dashoffset: 0;
  stroke-dasharray: 560;
}

header .header_inner.row .left .menu span {
  display: block;
  position: relative;
  width: 37px;
  height: 37px;
  overflow: hidden;
}

header .header_inner.row .left .menu span svg {
  transform: rotate(90deg);
}

header .big_menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #191919;
  padding: 70px 30px 70px 30px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

header .big_menu.active .menu_cont .row .col:first-child p {
  opacity: 1;
  transform: translateY(0);
}

header .big_menu.active .menu_cont .row .col:first-child p:nth-of-type(1) {
  transition-delay: 1.2s;
}

header .big_menu.active .menu_cont .row .col:first-child p:nth-of-type(2) {
  transition-delay: 1.3s;
}

header .big_menu.active .menu_cont .row .col:first-child img {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.4s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:first-child li {
  opacity: 1;
  transform: translateY(0);
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:first-child li:nth-of-type(2) {
  transition-delay: .2s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:first-child li:nth-of-type(3) {
  transition-delay: .3s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:first-child li:nth-of-type(4) {
  transition-delay: .4s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:first-child li:nth-of-type(5) {
  transition-delay: .5s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li {
  opacity: 1;
  transform: translateY(0);
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li:nth-of-type(1) {
  transition-delay: .6s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li:nth-of-type(2) {
  transition-delay: .7s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li:nth-of-type(3) {
  transition-delay: .8s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li:nth-of-type(4) {
  transition-delay: .9s;
}

header .big_menu.active .menu_cont .row .col:last-child nav ul:last-child li:nth-of-type(5) {
  transition-delay: 1s;
}

header .big_menu.active .menu_cont .row .col:last-child .sns_link a {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.1s;
}

header .big_menu .menu_cont {
  padding: 70px 35px 30px 35px;
  background-color: #202020;
}

header .big_menu .menu_cont .row {
  justify-content: space-between;
}

header .big_menu .menu_cont .row .col:first-child {
  order: 2;
  width: 100%;
}

header .big_menu .menu_cont .row .col:first-child p {
  transition: .5s ease-in-out;
  opacity: 0;
  transform: translateY(-30px);
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}

header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) {
  font-size: 46px;
  line-height: 40px;
}

@media only screen and (max-width: 370px) {
  header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) {
    font-size: 36px;
  }
}

header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) span {
  font-size: 30px;
}

@media only screen and (max-width: 370px) {
  header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) span {
    font-size: 20px;
  }
}

header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) span:nth-of-type(3) {
  margin-left: 5px;
  padding: 0 80px 0 5px;
  font-size: 19px;
  background-color: #fff;
  color: #191919;
  position: relative;
  top: -5px;
}

@media only screen and (max-width: 370px) {
  header .big_menu .menu_cont .row .col:first-child p:nth-of-type(1) span:nth-of-type(3) {
    font-size: 15px;
    top: -2px;
    padding: 0 60px 0 5px;
  }
}

header .big_menu .menu_cont .row .col:first-child p:nth-of-type(2) {
  font-size: 21px;
  margin-top: -5px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 370px) {
  header .big_menu .menu_cont .row .col:first-child p:nth-of-type(2) {
    font-size: 14px;
  }
}

header .big_menu .menu_cont .row .col:first-child img {
  transition: .5s ease-in-out;
  opacity: 0;
  transform: translateY(-30px);
}

header .big_menu .menu_cont .row .col:last-child {
  order: 1;
  width: 100%;
}

header .big_menu .menu_cont .row .col:last-child nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: 1px solid #5c5c5c;
}

header .big_menu .menu_cont .row .col:last-child nav ul {
  width: 100%;
}

header .big_menu .menu_cont .row .col:last-child nav ul:first-child {
  margin-bottom: 20px;
}

header .big_menu .menu_cont .row .col:last-child nav ul li {
  transition: .5s ease-in-out;
  opacity: 0;
  transform: translateY(-30px);
}

header .big_menu .menu_cont .row .col:last-child nav ul li:not(:last-child) {
  margin-bottom: 25px;
}

header .big_menu .menu_cont .row .col:last-child nav ul li a {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}

header .big_menu .menu_cont .row .col:last-child .sns_link {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header .big_menu .menu_cont .row .col:last-child .sns_link a {
  transition: .5s ease-in-out;
  opacity: 0;
  transform: translateY(-30px);
  width: 100%;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #fff;
}

header .big_menu .menu_cont .row .col:last-child .sns_link a:first-child {
  margin-bottom: 20px;
  text-indent: -30px;
  margin-left: 30px;
  line-height: 20px;
}

header .big_menu .menu_cont .row .col:last-child .sns_link a img {
  width: 21px;
  margin-right: 10px;
}

header .big_menu .menu_cont .row .col:last-child .sns_link a span {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

header .btn_reserve {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 120px;
}

header .btn_reserve a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .btn_reserve a img {
  width: 90px;
}

header .btn_reserve a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/common/link_to_img2.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header .btn_reserve a:hover::after {
  animation: spin 0.8s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

/* footer
==================================*/
footer {
  position: relative;
  background: #191919;
  padding-top: 22px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

footer .footer_inner.container {
  padding-left: 0;
  padding-right: 0;
}

footer .footer_inner .top {
  background-color: #2d2d2d;
  padding: 20px 15px;
  margin-bottom: 25px;
}

footer .footer_inner .top .row {
  align-items: center;
  margin-top: 25px;
}

footer .footer_inner .top .row .col:first-child {
  width: 100%;
  margin-bottom: 20px;
}

footer .footer_inner .top .row .col:first-child h4 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #fff;
  line-height: 22.5px;
  margin-bottom: 15px;
}

footer .footer_inner .top .row .col:first-child p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

footer .footer_inner .top .row .col:last-child {
  width: 100%;
}

footer .footer_inner .top .row .col:last-child h5 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
}

footer .footer_inner .top .row .col:last-child p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  text-indent: -18px;
  margin-left: 18px;
}

footer .footer_inner .bottom {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

footer .footer_inner .bottom .row {
  align-items: flex-start;
  justify-content: space-between;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) .logo {
  width: 100%;
  margin-bottom: 30px;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) .logo a img {
  width: 108px;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul {
  width: 50%;
}

@media only screen and (max-width: 350px) {
  footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul:first-child {
    width: 43%;
  }
}

@media only screen and (max-width: 350px) {
  footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul:last-child {
    width: 57%;
  }
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul li:not(:last-child) {
  margin-bottom: 10px;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul li a {
  color: #fff;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  position: relative;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul li a span {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul li a:hover::after {
  width: 100%;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) nav ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #484848;
  transition: .3s ease;
  position: absolute;
  bottom: -10px;
  left: 0;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) p {
  width: 100%;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #484848;
  margin-top: 30px;
  padding-top: 30px;
}

footer .footer_inner .bottom .row .col:nth-of-type(1) p a {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #fff;
  position: relative;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) {
  width: 100%;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) h5 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  margin-bottom: 25px;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) ul {
  display: flex;
  justify-content: flex-start;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) ul li {
  margin-right: 3px;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) ul li a:hover img {
  opacity: .7;
}

footer .footer_inner .bottom .row .col:nth-of-type(2) ul li a img {
  transition: .3s linear;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) {
  width: 100%;
  margin-top: 25px;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) .copy {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) .copy a {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #929292;
  border-bottom: 1px solid #484848;
  margin-bottom: 15px;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) .copy a:hover::after {
  width: 85px;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) .copy a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #484848;
  transition: .3s ease;
  position: absolute;
  bottom: -10px;
  left: 0;
}

footer .footer_inner .bottom .row .col:nth-of-type(3) .copy small {
  width: 100%;
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #929292;
}

#pageTop {
  opacity: 1;
  position: absolute;
  right: 0;
  top: 30px;
  transform: translate(0, -50%);
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

#pageTop a:hover {
  opacity: 0.7;
}

#pageTop a img {
  width: 35px;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

@font-face {
  font-family: FuturaDemi;
  src: url(../font/FuturaPTDemi.otf);
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 45px 0 0;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 0;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  margin: 0 20px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  border-bottom: 1px solid #0d0d0d;
  color: #0d0d0d;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #c0c0c0;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  color: #c0c0c0;
  border-bottom: 1px solid #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  font-size: 12px;
  position: relative;
  top: 3px;
  left: 0;
  margin-right: 25px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
    margin-right: 20px;
  }
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover {
    left: 5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  font-size: 12px;
  position: relative;
  top: 3px;
  right: 0;
  margin-left: 25px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
    margin-left: 20px;
  }
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover {
    right: 5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==================================
	JUMBO SECTION
==================================*/
.jumbo_section .wrapper {
  padding-top: 225px;
  padding-bottom: 120px;
}

@media (max-width: 899px) {
  .jumbo_section .wrapper {
    padding-top: 170px;
    padding-bottom: 73px;
  }
}

.jumbo_section .wrapper .container .breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbo_section .wrapper .container .breadcrumbs li:not(:last-child)::after {
  content: "\2BC8";
  font-size: 10px;
  margin: 0 5px 0 2px;
  position: relative;
  top: -1px;
}

.jumbo_section .wrapper .container .breadcrumbs li a {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  color: #0d0d0d;
  letter-spacing: .1em;
}

.jumbo_section .wrapper .container h3 {
  width: 100%;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #0d0d0d;
  margin: 38px 0 100px;
  text-align: center;
}

@media (max-width: 899px) {
  .jumbo_section .wrapper .container h3 {
    font-size: 29px;
    margin: 0 0 73px;
  }
}

.jumbo_section .wrapper .container p {
  width: 100%;
  text-align: center;
}

.jumbo_section .wrapper .container p img {
  width: 137px;
}

@media (max-width: 899px) {
  .jumbo_section .wrapper .container p img {
    width: 92.5px;
  }
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
#Top main .sect_1 .wrapper {
  position: relative;
}

#Top main .sect_1 .wrapper img {
  width: 100%;
}

#Top main .sect_2 .wrapper {
  padding-top: 50px;
  padding-bottom: 70px;
}

#Top main .sect_2 .wrapper .container .txt_header p:nth-of-type(1) {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  color: #0d0d0d;
  text-align: center;
}

#Top main .sect_2 .wrapper .container .txt_header p:nth-of-type(2) {
  margin-top: -32px;
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20.5px;
  color: #0d0d0d;
  text-align: center;
}

#Top main .sect_2 .wrapper .container .txt_header p:nth-of-type(2) span {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15.5px;
  color: #0d0d0d;
}

#Top main .sect_2 .wrapper .container .txt_header h3 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 80px;
  color: #0d0d0d;
  text-align: center;
  margin: 20px 0 40px;
}

#Top main .sect_2 .wrapper .container .row {
  padding-right: 20px;
  padding-left: 20px;
}

#Top main .sect_2 .wrapper .container .row .col {
  width: 100%;
  margin-bottom: 40px;
}

#Top main .sect_2 .wrapper .container .row .col:first-child {
  display: flex;
  justify-content: center;
}

#Top main .sect_2 .wrapper .container .row .col:first-child p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #0d0d0d;
  line-height: 48px;
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

#Top main .sect_2 .wrapper .container .row .col:first-child p span {
  border-right: 1px solid #000;
  padding-right: 5px;
}

#Top main .sect_2 .wrapper .container .row .col:last-child p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 32px;
  text-align: left;
  margin-bottom: 35px;
  text-align: justify;
}

#Top main .sect_2 .wrapper .container .row .col:last-child a {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  border: 1px solid #cbcbcb;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 22.2px 25px;
  position: relative;
  transition: .3s linear;
}

#Top main .sect_2 .wrapper .container .row .col:last-child a::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #0d0d0d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: .3s linear;
}

#Top main .sect_2 .wrapper .container .row .col:last-child a .svg_cont {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  overflow: hidden;
}

#Top main .sect_2 .wrapper .container .row .col:last-child a .svg_cont svg {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

#Top main .sect_3 .wrapper {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 140px;
}

#Top main .sect_3 .wrapper .txt_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

#Top main .sect_3 .wrapper .txt_header h3 {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #000;
}

#Top main .sect_3 .wrapper .txt_header a {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

#Top main .sect_3 .wrapper .news_slider .swiper-wrapper {
  height: auto;
}

#Top main .sect_3 .wrapper .news_slider .swiper-wrapper .swiper-slide a img {
  width: 95%;
  display: block;
  margin-left: auto;
}

#Top main .sect_3 .wrapper .news_slider .swiper-wrapper .swiper-slide a .post_cont {
  border-top: 1px solid #191919;
  border-right: 1px solid #191919;
  width: 95%;
  background-color: #fff;
  padding: 35px 30px 10px 0;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

#Top main .sect_3 .wrapper .news_slider .swiper-wrapper .swiper-slide a .post_cont .post_date {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

#Top main .sect_3 .wrapper .news_slider .swiper-wrapper .swiper-slide a .post_cont .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 28.8px;
  color: #000;
}

#Top main .sect_3 .wrapper .swiper-button-prev {
  color: #313131;
  left: 70px;
}

#Top main .sect_3 .wrapper .swiper-button-next {
  color: #313131;
  right: 4.3%;
}

#Top main .sect_3 .wrapper .sp .row .col {
  width: 100%;
}

#Top main .sect_3 .wrapper .sp .row .col:not(:last-child) {
  margin-bottom: 40px;
}

#Top main .sect_3 .wrapper .sp .row .col a img {
  width: 95%;
  display: block;
  margin-left: auto;
}

#Top main .sect_3 .wrapper .sp .row .col a .post_cont {
  border-top: 1px solid #191919;
  border-right: 1px solid #191919;
  width: 95%;
  background-color: #fff;
  padding: 30px 25px 10px 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

#Top main .sect_3 .wrapper .sp .row .col a .post_cont .post_date {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

#Top main .sect_3 .wrapper .sp .row .col a .post_cont .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 28.8px;
  color: #000;
}

#Top main .sect_4 .wrapper {
  position: relative;
  padding-bottom: 60px;
}

#Top main .sect_4 .wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 310px;
  background-color: #f5f5f5;
  position: absolute;
  top: -60px;
  left: 0;
  z-index: -1;
}

#Top main .sect_4 .wrapper .row .col {
  width: 100%;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(1) {
  margin-bottom: 30px;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(1) h3 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0d0d0d;
  margin-bottom: 20px;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(1) h3 span {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #0d0d0d;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(1) p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #0d0d0d;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(2) {
  margin-bottom: 35px;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(2) img {
  width: 100%;
  cursor: pointer;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li {
  width: 100%;
  margin-bottom: 15px;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li a {
  background-color: #fff;
  display: block;
  border: 1px solid #cbcbcb;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0d0d0d;
  padding: 20px;
  position: relative;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li a span {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (max-width: 340px) {
  #Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li a span br.pc {
    display: block !important;
  }
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li a .svg_cont {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  overflow: hidden;
}

#Top main .sect_4 .wrapper .row .col:nth-of-type(3) ul li a .svg_cont svg {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

#Top main .sect_4 .video_modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#Top main .sect_4 .video_modal .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#Top main .sect_4 .video_modal .video_frame {
  position: relative;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Top main .sect_4 .video_modal .video_frame .btn_modal_close {
  box-sizing: border-box;
  position: absolute;
  top: -70px;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: solid 1px #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in;
  z-index: 1005;
}

#Top main .sect_4 .video_modal .video_frame .btn_modal_close::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 17px;
  height: 1px;
  background-color: #fff;
  margin: auto;
  transform: rotate(-45deg);
  content: '';
}

#Top main .sect_4 .video_modal .video_frame .btn_modal_close::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 17px;
  height: 1px;
  background-color: #fff;
  margin: auto;
  transform: rotate(45deg);
  content: '';
}

#Top main .sect_4 .video_modal .video_frame .btn_modal_close:hover {
  transform: scale(1.1);
  transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*==================================
  Topics
==================================*/
#Topics main .sect_1 .wrapper {
  padding-bottom: 110px;
}

#Topics main .sect_1 .wrapper .container .topics_cont {
  margin-bottom: 60px;
  padding: 0 10px;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col {
  width: 100%;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col:not(:last-child) {
  margin-bottom: 40px;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col a img {
  width: 95%;
  display: block;
  margin-left: auto;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col a .post_cont {
  border-top: 1px solid #191919;
  border-right: 1px solid #191919;
  width: 95%;
  background-color: #fff;
  padding: 30px 25px 10px 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col a .post_cont .post_date {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
}

#Topics main .sect_1 .wrapper .container .topics_cont.row .col a .post_cont .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 28.8px;
  color: #000;
}

/*==================================
  Topics Detail
==================================*/
#Topics_detial main .sect_1 .wrapper {
  padding-bottom: 95px;
}

#Topics_detial main .sect_1 .wrapper .container .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0d0d0d;
  line-height: 30px;
  border-bottom: 1px solid #0d0d0d;
  padding: 0 0 15px;
}

#Topics_detial main .sect_1 .wrapper .container .post_date {
  font-family: "Futura PT", FuturaDemi, futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  color: #0d0d0d;
  text-align: right;
  margin: 15px 0 30px;
}

#Topics_detial main .sect_1 .wrapper .container .post_content {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 32px;
  margin: 0 0 32.5px;
}

#Topics_detial main .sect_1 .wrapper .container .image_cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Topics_detial main .sect_1 .wrapper .container .image_cont li {
  width: 49.5%;
  margin-bottom: 1%;
}

#Topics_detial main .sect_1 .wrapper .container .image_cont li:nth-of-type(2) {
  margin-left: 1%;
}

#Topics_detial main .sect_1 .wrapper .container .image_cont li:last-child {
  width: 100%;
}

#Topics_detial main .sect_1 .wrapper .container .image_cont li img {
  width: 100%;
}

#Topics_detial main .sect_1 .wrapper .container .btn_cont a {
  display: block;
  margin: 50px auto 0;
  width: 82%;
  padding: 20px 25px;
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  position: relative;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

#Topics_detial main .sect_1 .wrapper .container .btn_cont a .svg_cont {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  overflow: hidden;
}

#Topics_detial main .sect_1 .wrapper .container .btn_cont a .svg_cont svg {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

/*==================================
  Workshop list
==================================*/
#Workshop_list main .sect_1 .wrapper {
  padding-bottom: 80px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont {
  margin-bottom: 50px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col {
  width: 100%;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col:not(:last-child) {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #191919;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(1) {
  width: 100%;
  margin-bottom: 25px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(1) img {
  width: 100%;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) {
  width: 100%;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) .post_cat {
  margin: 0 0 5px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) .post_cat span {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  background-color: #191919;
  padding: 3px 6px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) .post_sub_head {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #0d0d0d;
  line-height: 32px;
  margin: 0 0 5px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0d0d0d;
  line-height: 32px;
  margin: 0 0 15px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_post_row .item:nth-of-type(2) .content p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 28.5px;
  text-indent: -108px;
  margin-left: 108px;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_cont a {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  width: 100%;
  padding: 20px 20px;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  position: relative;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_cont a .svg_cont {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  overflow: hidden;
}

#Workshop_list main .sect_1 .wrapper .container .topics_cont.row .col .btn_cont a .svg_cont svg {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

/*==================================
  Workshop Detail
==================================*/
#Workshop_detail main .sect_1 .wrapper {
  padding-bottom: 80px;
}

#Workshop_detail main .sect_1 .wrapper .container .post_cat {
  margin: 0 0 10px;
}

#Workshop_detail main .sect_1 .wrapper .container .post_cat span {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  background-color: #191919;
  padding: 3px 6px;
}

#Workshop_detail main .sect_1 .wrapper .container .post_sub_head {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
  color: #0d0d0d;
  line-height: 32px;
  margin: 0 0 5px;
}

#Workshop_detail main .sect_1 .wrapper .container .post_title {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0d0d0d;
  line-height: 32px;
  border-bottom: 1px solid #191919;
  padding-bottom: 20px;
  margin: 0 0 25px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont {
  position: relative;
  display: flex;
  flex-wrap: unset;
  justify-content: space-between;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left {
  float: unset;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .content .event_cont {
  margin-bottom: 25px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .content .event_cont p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 28.5px;
  text-indent: -108px;
  margin-left: 108px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .content p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 32px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .img_cont {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .img_cont li {
  width: 49.5%;
  margin-bottom: .5%;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .img_cont li:nth-child(2n+2) {
  margin-left: .5%;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .img_cont li img {
  width: 100%;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont {
  padding-top: 50px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont h4 {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #0d0d0d;
  margin-bottom: 25px;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row {
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #d1d1d1;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row:last-child {
  border-bottom: 1px solid #d1d1d1;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row .col:nth-of-type(1) {
  width: 34%;
  text-align: left;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row .col:nth-of-type(2) {
  width: 26%;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row .col:nth-of-type(3) {
  width: 40%;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row .col p {
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .left .app_cont .row .col a {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid #cbcbcb;
  padding: 15px;
  text-align: center;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #0d0d0d;
}

#Workshop_detail main .sect_1 .wrapper .container .info_cont .right {
  float: unset;
}

#Workshop_detail main .sect_1 .wrapper .container .btn_cont a {
  display: block;
  margin: 50px auto 0;
  width: 82%;
  padding: 20px 25px;
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  position: relative;
  font-family: "Ryo Gothic PlusN", ryo-gothic-plusn, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

#Workshop_detail main .sect_1 .wrapper .container .btn_cont a .svg_cont {
  width: 17px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  overflow: hidden;
}

#Workshop_detail main .sect_1 .wrapper .container .btn_cont a .svg_cont svg {
  width: 100%;
  height: 100%;
  transform: translateX(0);
}

/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container p {
  font-size: 16px;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 25px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr th .caution {
  display: block;
  text-indent: -1em;
  padding-left: 1em;
  margin-top: 8px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-left: 0;
  padding-top: 5px;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .check-list.type > li {
  display: block;
  margin-bottom: 18px;
}

main#Contact .check-list.type > li:last-child {
  margin-bottom: 0;
}

main#Contact .check-list.pedal > li {
  margin-right: 50px;
}

main#Contact .check-list.pedal > li:last-child {
  margin-right: 0;
}

main#Contact .check-list.play {
  margin-bottom: -18px;
}

main#Contact .check-list.play > li {
  padding-bottom: 18px;
  margin-right: 20px;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style_sp.css.map */