/*==================================
  Entry
==================================*/
#Entry main {
  margin-bottom: 130px;

  .sect_1 {
    .container{
      max-width: 900px;
    }

    .alert {
      color: #cf3737;
      background-color: #f8bbbb;
      text-align: center;
      font-size: 18px;
      padding: 10px 0;
      margin-bottom: 30px;
      
      strong {
        font-size: 25px;
        margin: 0 5px;
      }
    }

    .lead {
      text-align: center;
      margin-bottom: 50px;
    }

    .wrap {
      &.event_wrap { margin-bottom: 80px;}

      .ttl {
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
      }
      table {
        width: 100%;
        &:not(:last-of-type) { margin-bottom: 80px;}

        tr {
          border-top: 1px solid #e3e3e3;
          border-bottom: 1px solid #e3e3e3;
          
          th {
            width: 200px;
            padding: 20px;
            box-sizing: border-box;
            text-align: left;
            font-weight: 500;
          }
          td {
            width: calc(100% - 200px);
            padding: 20px;
            box-sizing: border-box;
            .err {
              display: block;
              color: #cf3737;
              margin-top: 5px;
            }
          }
        }
      }

      .btn_cont{
        a{
          display: flex;
          align-items: center;
          margin: 50px 0 0;
          width: 410px;
          padding: 20px 25px;
          box-sizing: border-box;
          border: 1px solid #cbcbcb;
          position: relative;
          @include Ryo_Gothic(700);
          font-size: 16px;
          .pdf_icon{
            width: 22px;
            margin-right: 10px;
          }
          .svg_cont{
            width: 17px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translate(0, -50%);
            overflow: hidden;
            svg{
              width: 100%;
              height: 100%;
              transform: translateX(0);
            }
          }
        }
      }
    }

    .full_messa {
      color: #cf3737;
      text-align: center;
      margin-top: 50px;
      font-size: 17px;
      padding-bottom: 20px;
    }
  }

  &.sfm3 .sect_1 {
    p {
      text-align: center;
    }
    dl {
      text-align: center;
      margin: 50px 0;
      color: #cf3737;
      dd {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }

  form {
    input {
      -webkit-appearance: none;

      &[type='text'] {
        border: none;
        border-radius: 0;
        outline: none;
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.03em;
        padding: 12px 21px;
        border: 1px solid #cbcbcb;
        background: none;
        box-sizing: border-box;
        color: #000;
        width: 100%;
      }

    }

    .check-list {
      display: flex;
      align-items: center;
      padding-left: 0;

      li {
        width: 125px;

        input[type="radio"] {
          opacity: 0;
          margin: 0;
          width: 0;
          height: 0;
          font-size: 0;
          line-height: 1;

          & + label {
            padding-left: 27px;
            position: relative;
            cursor: pointer;
      
            &::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 17px;
              height: 17px;
              border: 1px solid #cbcbcb;
              background: none;
              box-sizing: border-box;
              border-radius: 50%;
            }
      
            &::after {
              content: "";
              display: block;
              position: absolute;
              top: 4px;
              left: 4px;
              width: 9px;
              height: 9px;
              background: #000;
              border-radius: 50%;
              opacity: 0;
            }
          }
      
          &:checked + label {
            background: none;
      
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .select-box {
      overflow: hidden;
      width: 60%;
      text-align: center;
      position: relative;
      border-radius: 2px;
      background: none;
      border: 1px solid #cbcbcb;
  
      select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        outline: none;
        background: transparent;
        border-radius: 0;
        font-size: 16px;
        color: #000;
        letter-spacing: 0.035em;
        width: 100%;
        padding-right: 1em;
        cursor: pointer;
        text-indent: 0.01px;
        text-overflow: ellipsis;
        background-image: none;
        box-shadow: none;
        padding: 12px 38px 12px 21px;
  
        &::-ms-expand {
          display: none;
        }
      }
  
      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 21px;
        margin: auto;
        width: 0;
        height: 0;
        padding: 0;
        content: "";
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #000;
        pointer-events: none;
      }
    }

    .submit_area {
      margin-top: 80px;
      text-align: center;

      .submit_btn {
        line-height: 1.4;
        letter-spacing: 0.13em;
        width: 390px;
        box-sizing: border-box;
        font-feature-settings: "palt";
        position: relative;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #cbcbcb;
        transition: all 0.3s ease;

        input[type="submit"] {
          line-height: 1.4;
          letter-spacing: 0.13em;
          color: #000;
          background: none;
          border: none;
          border-radius: 0;
          outline: none;
          cursor: pointer;
          width: 100%;
          height: 58px;
          box-sizing: border-box;
          transition: .3s;
        }

        .svg_cont {
          position: absolute;
          width: 17px;
          right: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
          .svg_btn {
            stroke: #000;
            transition: .3s;
          }
        }

        &.back .svg_cont {
          right: auto;
          left: 20px;
        }

        &:hover {
          background: #000;
          border: 1px solid #000;

          input[type="submit"] {
            color: #fff;
          }
          .svg_cont .svg_btn { stroke: #fff;}
        }
      }

      &.row {
        justify-content: space-between;
      }
    }

  }
}
