/*==================================
  Topics Detail
==================================*/
#Topics_detial main {
  .sect_1{
    .wrapper{
      padding-bottom: 140px;
      .container{
        .post_title{
          @include Ryo_Gothic(700);
          font-size: 22px;
          color: #0d0d0d;
          line-height: 30.9px;
          letter-spacing: .1em;
          border-bottom: 1px solid #0d0d0d;
          padding: 25px 0;
        }
        .post_date{
          @include Futura_PT(600);
          font-size: 14px;
          color: #0d0d0d;
          text-align: right;
          margin: 15px 0 50px;
        }
        .post_content{
          @include Ryo_Gothic(500);
          font-size: 16px;
          color: #0d0d0d;
          line-height: 40px;
          margin: 0 0 35px;
        }
        .image_cont{
          width: 83%;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          li{
            width: 49%;
            margin-bottom: 10px;
            &:nth-child(2n+2){
              margin-left: 1%;
            }
            img{
              width: 100%;
            }
          }
        }
        .btn_cont{
          a{
            display: block;
            margin: 90px auto 0;
            width: 260px;
            padding: 20px 25px;
            box-sizing: border-box;
            border: 1px solid #cbcbcb;
            position: relative;
            @include Ryo_Gothic(700);
            font-size: 16px;
            .svg_cont{
              width: 17px;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translate(0, -50%);
              overflow: hidden;
              svg{
                width: 100%;
                height: 100%;
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }

}
